.access-room-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Faz o formulário ocupar o espaço restante */
  text-align: center;
  padding: 20px;
}

.access-room-form h1 {
  font-size: 2.2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.access-room-form p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  max-width: 500px;
}

.access-room-form input[type="text"] {
  width: 100%;
  max-width: 400px; /* Ajusta a largura máxima para o input */
  margin-bottom: 20px;
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: 1px solid var(--border-color);
}

.access-room-form button {
  padding: 12px 25px;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: var(--secondary-color); 
  color: var(--light-text-color);
  transition: background-color 0.3s ease;
}

.access-room-form button:hover {
  background-color: #4b9ae2; 
}

.error-message {
  color: #d9534f; 
  margin-top: 15px;
  font-size: 0.95rem;
  font-weight: bold;
}

/* Ajustes responsivos para o formulário */
@media (max-width: 768px) {
  .access-room-form h1 {
    font-size: 1.8rem;
  }
  .access-room-form p {
    font-size: 1rem;
  }
  .access-room-form input[type="text"] {
    max-width: 100%;
  }
}