.editor-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px); /* Ocupa a altura da tela menos a navbar */
  padding: 20px;
  max-width: 900px; /* Limita a largura do editor */
  margin: 0 auto; /* Centraliza o editor */
  background-color: white; /* Fundo branco para o editor */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.editor-header h1 {
  font-size: 1.8rem;
  color: var(--primary-color);
  text-align: center;

  
}

.loading-editor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 300px;
  font-size: 1.2rem;
  color: #777;
  border: 1px dashed var(--border-color);
  border-radius: 8px;
}

.export-button {
  background-color: var(--secondary-color); /* Usando o azul para o botão de exportar */
  color: var(--light-text-color);
  padding: 8px 15px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.export-button:hover {
  background-color: #4b9ae2; /* Uma versão mais escura do azul */
}

.button{
display: flex;
justify-content: center;

}
/* Estilos específicos para o Quill */
.quill {
  flex-grow: 1;
  display: flex; /* Para fazer o editor e a barra de ferramentas se ajustarem */
  flex-direction: column;
  min-height: 300px;
}

.ql-editor {
  min-height: 300px; /* Garante altura mínima visível */
  padding: 30px 40px !important;
  line-height: 1.6; /* Melhora a legibilidade */
  font-size: 1.1rem; /* Aumenta um pouco o tamanho da fonte para o conteúdo */
}

.ql-toolbar {
  border-bottom: 1px solid var(--border-color) !important;
  background-color: var(--background-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  background-color: #ebe9e9;
}

.ql-container {
  flex-grow: 1;
  border: 1px solid var(--border-color) !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Cores dos botões do Quill */
.ql-toolbar button, .ql-toolbar .ql-picker-label {
    color: var(--text-color) !important; /* Cor dos ícones e texto da toolbar */
}

/* Ícones ativos */
.ql-toolbar button.ql-active {
    color: var(--primary-color) !important;
}

.ql-toolbar .ql-picker.ql-expanded .ql-picker-label {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.ql-toolbar .ql-stroke { /* Ícones normais */
    stroke: var(--text-color);
}
.ql-toolbar .ql-fill { /* Ícones de preenchimento */
    fill: var(--text-color);
}
.ql-toolbar .ql-active .ql-stroke { /* Ícones ativos */
    stroke: var(--primary-color);
}
.ql-toolbar .ql-active .ql-fill { /* Ícones ativos */
    fill: var(--primary-color);
}


.editor-statusbar {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #777;
  text-align: right;
}

/* Estilos para telas maiores (desktop) */
@media (min-width: 768px) {
  .editor-header h1 {
    font-size: 2.2rem;
  }
  /* Ajustar o editor em si para ocupar mais espaço */
}